<% layout("listings/layouts/boilerplate") -%>

   <div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>create new Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <!-- <label for="title" class="form-label">Title</label> -->
         Titel<br>
        <input for="title" name="listing[title]" placeholder="enter catchy title" type="text" class="form-control" required>
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">Title should be valid</div>
        </div>
        <div>
        <!-- <label for="description" class="form-label">Description</label> -->
         Description<br>
        <input name="listing[description]" placeholder="" type="text" class="form-control" required >
        <div class="invalid-feedback">enter the short description</div>
        </div>

        <div>
         <!-- <label for="image" class="form-label">Upload Image</label> -->
          Upload Image<br>
          <input id="image" name="image" type="file" class="form-control" >
        </div>


        <div class="row">
        <div class="col-md-4 ">
         <!-- <label for="price" class="form-label">Price</label> -->
          Price<br>
        <input name="listing[price]" placeholder="1000" type="text" class="form-control" required>
        <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="col-md-8">
         <!-- <label for="country" class="form-label">Country</label> -->
          Country<br>
        <input name="listing[country]" placeholder="india" type="text" class="form-control" required>
        <div class="invalid-feedback">Country name should be valid</div>
        </div>
        </div>
         <div>
         <!-- <label for="location" class="form-label">Location</label> -->
          Location<br>
        <input name="listing[location]" placeholder="kphb" type="text" class="form-control" required>
        <div class="invalid-feedback">location should be valid</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">Add</button>
    </form>
   </div>
  </div>
  